*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
    background-color: #222;
    color: white;
}

h1{
    text-align: center;
    margin-top: 2rem;
}

#container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: aliceblue;
}